@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Gotham-Bold";
  src: url("../src/assets/fonts/Gotham-Bold.otf");
}
@font-face {
  font-family: "Gotham-Medium";
  src: url("../src/assets/fonts/GothamMedium.ttf");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../src/assets/fonts/GothamBook.ttf");
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;

  letter-spacing: -1.5px;
  vertical-align: middle !important;
  user-select: none;
  /* transition: .5s all; */
}

html {
  scroll-behavior: smooth;
  color: white;
}

body {
  background: #0f0f0f;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

h1 {
  letter-spacing: -1.5px;
  vertical-align: middle;
}

.v-slide {
  animation: slide 10s cubic-bezier(0.84, 0, 0.16, 1) infinite;
  animation-direction: reverse;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  overflow: hidden;
  height: 4rem;
  padding: 0 3rem;
  background: #ffffff05;
  background-size: 400%;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  color: black;
}

.button:hover::before {
  transform: scaleY(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: 0% 100%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: white;
  transition: all 0.475s;
}

.text-anim {
  transition: color 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.v-slides {
  width: 100%;
  white-space: nowrap;
  -webkit-animation-name: change;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  margin-top: 0;
  height: 100px;
}

.menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
  font-size: 16px;
  opacity: 0.9;
  transition: opacity 0.4s;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 1.5px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  bottom: -0.2rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.menu__link:hover {
  opacity: 1;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

@keyframes change {
  2%, 14.28% {
    transform: translate3d(0, 0, 0);
  }

  16.66%, 33.32% {
    transform: translate3d(0, -100%, 0);
  }

  35.34%, 49.98% {
    transform: translate3d(0, -200%, 0);
  }

  52%, 66.66% {
    transform: translate3d(0, -300%, 0);
  }

  68.68%, 83.34% {
    transform: translate3d(0, -400%, 0);
  }

  85.36%, 100% {
    transform: translate3d(0, -500%, 0);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#slider_8b3ZTnhRoM{
  align-items: center;
}